<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30000">
        <setting id="scraper_timeout" type="slider" label="30002" option="int" range="10,1,60" default="30"/>
        <setting id="thread_number" type="slider" label="30004" option="int" range="1,1,50" default="10"/>
        <setting id="enable_bg_dialog" type="bool" label="30003" default="true"/>
    </category>
    <!-- Providers -->
    <category label="30001">
    </category>
</settings>